.absoluteClass {
    position: absolute;

}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    /* -webkit-appearance: button;
    background-color: transparent;
    background-image: none; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important; /* Optional: Add additional styling as needed */
}

.Toastify__close-button {
    color: #fff;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease;
    align-self: flex-start;
    float: right;
    padding-right: 20px;
}

.Toastify__close-button--light {
    color: #000;
    opacity: 0.3;
    width: 50px;
}

/* img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    float: right;
} */

button {
    color: rgba(0, 67, 44, 0.83);
    font-size: 20px;
    font-weight: 600;
    width: 190px;
    height: 53px;
    border: 0px;
    background: #fff;
    border-radius: 32px;
    cursor: pointer;
}
/* box-shadow: 0px -4px 36px 9px rgb(0 0 0 / 30%); */
